{% extends 'base.html' %}

{% block title %}
Заглиблено про Unity
{% endblock %}

{% block body %}
<h1>Заглиблено про Unity</h1>
<p style="font-size: 25px;">Редактор Unity має інтерфейс, який складається з різних вікон, які можна розташувати під себе. Завдяки цьому можна проводити налагодження гри прямо в редакторі. Головні вікна — це оглядач ресурсів проєкту, інспектор конкретного об'єкта, вікно попереднього перегляду, оглядач сцени та оглядач ієрархії ресурсів.</p>
<p style="font-size: 25px;">Проєкт в Unity поділяється на сцени — окремі файли, що містять свої ігрові світи зі своїм набором об'єктів, сценаріїв і налаштувань. Сцени можуть містити в собі як об'єкти-моделі, так і порожні ігрові об'єкти — ті, що не мають моделі, проте задають поведінку інших об'єктів. Їх дозволяється розташовувати, обертати, масштабувати, застосовувати до них скрипти. В них є назва, може бути тег і шар, на якому він повинен відображатися. Так, у будь-якого предмета на сцені обов'язково наявний компонент Transform — він зберігає в собі координати місця розташування, повороту і розмірів по всіх трьох осях. У об'єктів з видимою геометрією також за умовчанням присутній компонент Mesh Renderer, що робить модель видимою.</p>
<p style="font-size: 25px;">Unity підтримує фізику твердих тіл і тканини, фізику типу Ragdoll. У редакторі є система успадкування об'єктів, дочірні об'єкти будуть повторювати всі зміни позиції, повороту і масштабу батьківського об'єкта. Скрипти в редакторі прикріплюються до об'єктів у вигляді окремих компонентів</p>
<img src="{{ url_for('static', filename='images/Unity1.jpg') }}"
    alt ="Unity1">
<p style="font-size: 25px;">У 2D іграх Unity переважно використовує спрайти. В 3D іграх Unity здебільшого використовує тривимірні моделі, на які накладаються текстури, матеріали та шейдери. В обох видах застосовуються системи часток для відображення субстанцій, таких як рідини чи дим. Unity підтримує стиснення текстур, міпмапінг і різні налаштування роздільності екрана для кожної платформи; забезпечує бамп-мапінг, мапінг відображень, паралакс-мапінг, затінення навколишнього світла у екранному просторі; динамічні тіні за картами тіней, рендер у текстуру та повноекранні ефекти обробки зображення, такі як зернистість, глибина чіткості, розмиття в русі, відблиски віртуальних лінз або ореол навколо джерел світла.</p>
{% endblock %}
