{% extends 'base.html' %}

{% block title %}
Цікаві факти про Unity
{% endblock %}

{% block body %}
<h1>Цікаві факти про Unity</h1>
<ul style="font-size:25px; list-style-type:'— '; margin-left:20px;">
  <li>Unity була запущена у 2005 році. Unity Technologies представила Unity на Apple Світовій конференції розробників. Вона мала на меті демократизувати розробку ігор, зробивши її доступною для всіх;</li>
  <li>Unity пропонує як безкоштовні, так і платні версії. Безкоштовна версія пропонує багато важливих функцій, тоді як Pro – розширені інструменти та сервіси для професійних розробників;</li>
  <li>Ви можете працювати з Unity безкоштовно, поки не почнете заробляти на своїх іграх. Якщо ви є власником студії, то мусите платити за Unity Pro і не можете використовувати безкоштовні версії Unity;</li>
  <li>Понад 2 500 000 розробників застосовують Unity для створення ігор;</li>
  <li>Unity застосовується у кіноіндустрії для превізуалізації, анімації та спецефектів. Його можливості рендерингу в реальному часі роблять його цінним інструментом для кінематографістів;</li>
  <li>Архітектори використовують Unity для створення інтерактивних 3D‑моделей будівель і просторів;</li>
  <li>Unity Learn пропонує різноманітні навчальні матеріали, курси та проєкти, які допомагають розробникам будь‑якого рівня навичок;</li>
  <li>Unity надає програми сертифікації, які підтверджують навички та знання розробника. Ці сертифікати можуть покращити кар'єрні перспективи;</li>
  <li>Форуми спільноти Unity є центром для розробників, де вони можуть ділитися знаннями, ставити запитання та співпрацювати над проєктами;</li>
  <li>Функція глобального освітлення в реальному часі від Unity дозволяє реалістичні світлові ефекти, покращуючи візуальну якість ігор;</li>
  <li>Unity Technologies має офіси у понад 20 країнах, зокрема у США, Китаї, Японії та Німеччині;</li>
  <li>Багато навчальних закладів використовують Unity для навчання розробці ігор, комп'ютерних наук та цифрового мистецтва;</li>
  <li>Unity Unite – це щорічна конференція Unity, де розробники дізнаються про нові функції, діляться знаннями та налагоджують контакти.</li>
</ul>
{% endblock %}